//Import Font
@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap");

$font-family-base: "Jaro", sans-serif;
$navbar-light-brand-hover-color: #424242;
$navbar-light-active-color: red;
$body-color: #424242;
$primary: #424242;

.navbar a {
	color: #424242;
}

.card a, .footer a {
	color: #0a58ca;
}

.shadow-top {
	box-shadow: rgba(128, 128, 128, 0.1) 0px -5px 3px;
}

.main-background {
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.9),
			rgba(255, 255, 255, 0.9)
		),
		url("../assets/gameImages/normal_1.jpg");
}

/* Remove color change and add underline on hover */
.navbar-nav .nav-link:hover {
	text-decoration: underline; /* Underline on hover */
	color: inherit; /* Prevent color change */
}

.border-custom {
	border: 1px solid red;
}

table {
	border: 1px solid;
	border-radius: 1rem;
	color: #424242;
}

td {
	text-align: center;
	color: #424242;
}

.incorrect {
	animation: blink 3000ms;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.correct {
	background-color: rgb(196, 255, 191);
}

.clock {
	animation: clockTick 1000ms;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.disabled-element {
	pointer-events: none;
	cursor: default;
}



@keyframes clockTick {
	0% {
		transform: scale(1);
	}

	90% {
		transform: scale(1.1);
	}
}

@keyframes blink {
	0% {
        background-color: rgb(255, 191, 191);
    }
    50% {
        background-color: #ffffff;
    }
    100% {
        background-color: rgb(255, 191, 191);
    }
}



// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
